@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 10px;
}

body{
    background-color: #000;
    color: #00Fff0


}

.cabeza__presentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.presentacion__central{
    display: flex;
}

.presentacion__lateral{
    display: flex;
    flex-direction: column;
    text-align:start;
}
.titulo__presentacion{
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-size: 30px;
}

.subtitulo__presentacion{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.parrafo__presentacion, .parrafo__presentacion__experiencia{
    font-family: 'Montserrat', sans-serif;
    color:#FFFAF0;
    font-size: 24px;
    
}

.subtitulo__presentacion__experiencia{
    text-align: start;
    font-family: 'Montserrat', sans-serif;
}



.pie__de__pagina{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    background-color: #8A2BE2;
    color:#000;
    padding: 20px;
}